h1{
    text-align: center;
    color: #FEFFFF;
}

.container{
   background-color: #3AAFA9;
}

.col-12{
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}

.row{
    align-items: center;
}
img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}